<% unless current_user?(@user) %> <!-- We can't follow/unfollow ourselves, can we? -->

  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  </div>

<% end %>